/* Your custom styles */
html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/images/cover.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* .navbar {
  background-color: rgba(161, 106, 42, 0.4);
} */

.top-nav-collapse{

background: #cf52bb;
}
